[submodule "themes\\neopost"]
	path = themes\\neopost
	url = https://github.com/salatine/neopost.git
[submodule "quickstart/themes\\neopost"]
	path = quickstart/themes\\neopost
	url = https://github.com/salatine/neopost.git
